<!DOCTYPE html>
<!-- saved from url=(0050)http://getbootstrap.com/examples/starter-template/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./images/favicon.ico">

    <title>Infograhic</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/style.css" rel="stylesheet">

    <!-- Custom style for charts -->
    <link href="./css/bubble.css" rel="stylesheet">
    <link href="./css/karma.css" rel="stylesheet">

    <!-- Loading d3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id='slides'>

      <div id="p0" class="page active">
        <div id="home">
          <div class="row">
            <div class="container">
              <div><img src="images/yc.gif"></div>
              <div class="title-container">
                <h1>HACKER NEWS:</h1>
                <h1>Crunching the numbers</h1></div>
            </div>
          </div>
          <div id="next0" class="next"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
        </div>
      </div>

      <div id="p1" class="page active">
        <div id="submissions">
          <h1>HN's submissions increase steadily</h1>
          <div class="chart-picker">
            <form id="radio-demo"> 
              <label>Show: </label>
              <input type="radio" name="radio-group" id="first-choice" value="First Choice" onclick="submissionChart()" checked="true" />
              <label for="first-choice" onclick="submissionChart()">User's Submissions</label>
              <input type="radio" name="radio-group" id="second-choice" value="Second Choice" onclick="activeUserChart()"/>
              <label for="second-choice" onclick="activeUserChart()">Active Users</label>
            </form>
          </div>
          <div id="bar-chart"></div>
          <div class="control-container">
            <div class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
            <div class="next"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
          </div>
        </div>
      </div>

      <div id="p2" class="page active">
        <div id="occurences">
          <h1>Bitcoins are more popular than Facebook on HN</h1>
          <h3>Word occurences in Submitions Titles - Q2 2013 - Q1 2014</h3>
          <div id='g-bar-chart'>
              <svg class="g-bars"></svg>
          </div>
          <div id='g-chart'>
              <svg class="g-nodes"></svg>
              <div class="g-labels"></div>
          </div>
          <div class="control-container">
            <div class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
            <div class="next"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
          </div>
        </div>
      </div>

      <div id="p3" class="page active">
        <div id="sources">
          <h1>Sam Altman's blog receives amazing support from the community</h1>
          <h3>Most popular Sources on HN - based on the average number of upvotes for Q1 2014</h3>
          <div id="hori-bar"></div>
          <div class="control-container">
            <div class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
            <div class="next"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
          </div>
        </div>
      </div>

      <div id="p4" class="page active">
        <div id="karma">
          <h1>With more than 1000 of karma, you're in the top 4%</h1>
          <h3>Karma repartition among active users</h3>
          <div id="karma-chart"><span></span></div>
          <div class="control-container">
            <div class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
            <div class="next"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
          </div>
        </div>
      </div>

      <div id="p5" class="page active">
        <div id="share">
          <h1>Thanks for reading!</h1>
          <h3>Your likes and shares make me happy</h3>
          <div class="share">
            <!-- <a href=""><div>Y</div></a> -->
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-reddit"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          <div id="previous0" class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.svg.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

    <!-- Load the JS for charts -->
    <script src="javascripts/bar.js"></script>
    <script src="javascripts/bubble.js"></script>
    <script src="javascripts/hori-bar.js"></script>
    <script src="javascripts/karma.js"></script>

    <script src="./js/main.js"></script>

    <script src="./js/show.js"></script>
  
  </body>
  
</html>